.wrapper {
  @apply flex flex-1 overflow-hidden;
}

.content {
  @apply flex-1;
}

.windowControls {
  @apply w-[5rem] flex-shrink-0;
}

.titleBar {
  -webkit-app-region: drag;
  @apply bg-soma-medium flex h-[2.5rem] items-center gap-1 w-full flex-shrink-0;
}

.titleBarButton {
  -webkit-app-region: no-drag;
  @apply hover:bg-soma-light duration-100 transition-colors ease-in-out w-[2rem] h-[1.5rem] flex justify-center items-center rounded-sm cursor-pointer text-soma-lightest;
}

.menu {
  @apply flex flex-col border-soma-medium border-r-1 min-w-[2.75rem] items-center justify-between h-full;
}

.menuButtonHolder {
  @apply flex flex-col items-center gap-1;
}

.menuButton {
  @apply hover:bg-soma-light duration-100 transition-colors w-[1.75rem] h-[1.75rem] flex justify-center items-center rounded-sm cursor-pointer active:text-soma-text-primary text-soma-lightest;
}

.activityButton {
  @apply p-4 bg-soma-light rounded-lg shadow cursor-pointer text-soma-lightest active:text-soma-text-primary;
}

.explorerContainer {
  transition: width 0.2s ease-out;
}

.explorerContainer.expanded {
  width: 18rem;
}

.explorerContainer.collapsed {
  width: 0;
}

.explorer {
  @apply bg-soma-dark text-soma-lightest text-nowrap w-full h-full overflow-hidden;
}

.explorerActionBar {
  @apply flex justify-center items-center gap-1 mb-2 p-2;
}

.treeContainer {
  height: calc(100% - 54px);
  @apply w-full overflow-hidden;
}

@keyframes tippyBounce {
  0% {
    transform: scale(1);
  }
  30% {
    transform: scale(1.1);
  }
  60% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}

.tippy-box[data-theme~="custom"] {
  @apply bg-black text-white rounded-sm px-[0.25rem] text-xs;
}

.tippy-box[data-theme~="custom"][data-state="visible"] {
  animation: tippyBounce 0.3s ease-out;
}

.tippy-box[data-theme~="custom"] .tippy-arrow {
  color: black;
}

.activeNote {
  @apply bg-soma-light rounded-sm !px-2 !py-[0.1rem] text-sm text-soma-text-primary;
}

.inactiveNote {
  @apply rounded-sm !px-2 !py-[0.1rem] text-sm hover:bg-soma-light transition-colors duration-100 h-auto;
}

.noteEditor {
  @apply h-full w-full flex flex-col;
}

.editorArea {
  @apply flex-1 w-full px-16 overflow-y-auto overflow-x-hidden;
}

.fileIndentList {
  position: relative;
  display: inline-block;
}

.fileIndentList::before {
  content: "";
  position: absolute;
  top: -13px;
  bottom: 0;
  left: 50%;
  width: 1px;
  background-color: var(--color-soma-lightest);
  height: 26px;
}

.dragDrop {
  z-index: 2;
  height: 0px;
  border-top: 2px solid var(--color-soma-accent1);
  position: absolute;
  right: 0;
}

.dragPreview {
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 4px;
  padding: 6px 10px;
  pointer-events: none;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  color: white;
  font-size: 12px;
  position: fixed;
  z-index: 1000;
  max-width: 200px;
}

.dragPreviewContent {
  display: flex;
  align-items: center;
  gap: 5px;
  width: 100%;
}

.dragPreviewContent span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}

.contexify.contexify_theme-my-custom-theme {
  @apply bg-soma-darkest shadow-none border-1 border-soma-medium !p-2 !rounded-md;
  width: auto !important;
  min-width: auto !important;
}

.contexify.contexify_theme-my-custom-theme .contexify_itemContent {
  @apply !text-soma-lightest text-xs;
}
/* Hover states */
.contexify.contexify_theme-my-custom-theme .contexify_itemContent:hover {
  @apply !bg-soma-medium !text-soma-text-primary;
}

.contexify.contexify_theme-my-custom-theme
  .contexify_item:hover
  > .contexify_itemContent {
  @apply text-soma-text-primary;
}

.dropDown {
  @apply z-10 bg-soma-darkest border-soma-medium border-1 rounded-md text-xs flex flex-col p-2 gap-2 w-auto;
}

.dropDownItem {
  @apply hover:bg-soma-medium rounded-md p-2 flex items-center gap-1 whitespace-nowrap hover:text-soma-text-primary;
}
