@import "tailwindcss";

@theme {
  /* Soma Color Palette */
  --color-soma-darkest: #1c1531;
  --color-soma-dark: #1f1836;
  --color-soma-medium: #261c41;
  --color-soma-light: #3a2c5c;
  --color-soma-lightest: #9085b3;

  /* Accent Colors */
  --color-soma-accent1: #46206a;
  --color-soma-accent2: #a86e89;
  --color-soma-accent3: #cdb97c;

  /* Neutral Colors */
  --color-soma-bg-light: #dcd9e5;
  --color-soma-bg-dark: #251d40;
  --color-soma-text-primary: #bdb5cc;
  --color-soma-text-secondary: #9588a5;

  /* Status Colors */
  --color-soma-success: #7f947f;
  --color-soma-warning: #b89c54;
  --color-soma-error: #9a6b6b;
}

body {
  @apply bg-soma-darkest text-soma-text-primary select-none;
}

.windowControls {
  @apply w-[5rem];
}

.titleBar {
  -webkit-app-region: drag;
  @apply bg-soma-medium flex h-[2.5rem] items-center gap-1;
}

.titleBarButton {
  -webkit-app-region: no-drag;
  @apply hover:bg-soma-light duration-100 transition-colors ease-in-out w-[2rem] h-[1.5rem] flex justify-center items-center rounded-sm cursor-pointer text-soma-lightest;
}

.main {
  @apply flex flex-col w-full min-h-screen;
}

.container {
  @apply flex flex-1;
}

.menu {
  @apply flex flex-col border-soma-medium border-r-1 min-w-[2.75rem] items-center justify-between;
}

.menuButtonHolder {
  @apply flex flex-col items-center gap-1;
}

.menuButton {
  @apply hover:bg-soma-light duration-100 transition-colors w-[1.75rem] h-[1.75rem] flex justify-center items-center rounded-sm cursor-pointer active:text-soma-text-primary text-soma-lightest;
}

.content {
  @apply flex items-center w-full justify-center;
}

.home {
  @apply flex-col;
}

.activityButton {
  @apply p-4 bg-soma-light rounded-lg shadow cursor-pointer text-soma-lightest active:text-soma-text-primary;
}

.explorerContainer {
  overflow: hidden;
  transition: width 0.2s ease-out;
  flex-shrink: 0;
}

.explorerContainer.expanded {
  width: 18rem;
}

.explorerContainer.collapsed {
  width: 0;
}

.explorer {
  @apply border-r-1 border-r-soma-medium bg-soma-dark text-soma-lightest p-2 h-full text-nowrap;
}

@keyframes tippyBounce {
  0% {
    transform: scale(1);
  }
  30% {
    transform: scale(1.1);
  }
  60% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}

.tippy-box[data-theme~="custom"] {
  @apply bg-black text-white rounded-sm px-[0.25rem] text-xs;
}

.tippy-box[data-theme~="custom"][data-state="visible"] {
  animation: tippyBounce 0.3s ease-out;
}

.tippy-box[data-theme~="custom"] .tippy-arrow {
  color: black;
}

.activeNote {
  @apply bg-soma-light rounded-sm px-8 py-[0.1rem] text-sm text-soma-text-primary;
}

.inactiveNote {
  @apply rounded-sm px-8 py-[0.1rem] text-sm hover:bg-soma-light transition-colors duration-100 h-auto;
}

.textEditor {
  @apply appearance-none border-none bg-transparent w-full h-full resize-none outline-none;
}

.noteEditor {
  @apply w-full h-full p-16;
}

.markdown > * {
  all: revert;
}
